# A. Data Structures and Sequences

## 1. tuple  

### 특징
- 고정 길이  

- 한번 할당되면 변경 불가함  

- 인덱스는 0부터 시작  

- Boolean 같이 튜플 내의 객체가 수정 불가한 항목인 경우, 수정 불가  

- list 같이 변경 가능한 객체인 경우에는 수정 가능  

- 튜플의 각 요소는 객체로 할당 가능 : a, b = (5, 6) 일때 b = 6  

- 특정 항목 외의 나머지 부분도 추출 가능 : a, b, *_ = (1, 2, 3, 4, 5) 일 때 _ = [3, 4, 5] &rightarrow; 리스트 반환


### 할당 방법
- (4, 5, 6) = (4, 5, 6)  

- 4, 5, 6 = (4, 5, 6)  

- tuple([4, 5, 6]) = (4, 5, 6)  

- tuple('string') = ('s', 't', 'r', 'i', 'n', 'g')  

- (4, 5, 6), (7, 8) = ((4, 5, 6), (7, 8))  

- (4, None, 'foo') + (6, 0) + ('bar',) = (4, None, 'foo', 6, 0, 'bar')  

- ('foo', 'bar') * 4 = ('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')  
  


### 튜플 메서드  
- tup.count(x) : 튜플 내에서 x의 개수를 카운트하여 반환

In [7]:
tup = (4, 5, 6)
tup

(4, 5, 6)

In [8]:
tup = 4, 5, 6
tup

(4, 5, 6)

In [13]:
tup = tuple([4, 0, 2])
tup

(4, 0, 2)

In [14]:
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [15]:
tup[0]

's'

In [16]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup
nested_tup[0]
nested_tup[1]

(7, 8)

In [18]:
tup = tuple(['foo', [1, 2], True])
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [ ]:
tup = tuple(['foo', [1, 2], True])
tup

('foo', [1, 2], True)

In [20]:
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [21]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [22]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [23]:
tup = (4, 5, 6)
a, b, c = tup
b

5

In [24]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

7

In [25]:
a, b = 1, 2
a
b
b, a = a, b
a
b

1

In [26]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print(f'a={a}, b={b}, c={c}')

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [27]:
values = 1, 2, 3, 4, 5
a, b, *rest = values
a
b
rest

[3, 4, 5]

In [28]:
a, b, *_ = values

In [29]:
_

[3, 4, 5]

In [30]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

## 2. list  

### 특징  
- 가변 길이, 수정 가능 (!= tuple)  

- 리스트 내에 튜플과 같이 여러 형태의 데이터를 담을 수 있음.  


### 할당 방법  
- [0, 1, 2, 3, 4]  

- list((0, 1, 2, 3, 4))  

- list(range(5))  

- list + list  



### 메서드  
- 끝에 추가 : list.append(x) &rightarrow; 객체 생성 X  

- 특정 인덱스에 삽입 : list.insert(index, x) &rightarrow; 객체 생성 X  

- 특정 인덱스의 요소를 제거 : list.pop(index) &rightarrow; 객체 생성 X  

- 리스트 중 원하는 요소 중 앞선 인덱스의 요소를 제거 : list.remove(x) &rightarrow; 객체 생성 X  

- 리스트 내 특정 요소 포함 여부 확인 : x in list or x not in list  

- 여러 요소 추가 : list.extend([7, 8, (3, 4, "foo")]) &rightarrow; + 연산보다 extend가 성능이 더 좋음.

- 오름차순 정렬 : list.sort() &rightarrow; 객체 생성 X  

- 문자열 길이 기준 정렬 : list.sort(key=len) &rightarrow; 객체 생성 X  


### 슬라이싱  
- list[start:stop] : 인덱스 기준 start ~ (stop-1) 까지의 요소를 반환  

- list[start:stop] = [x, y] 를 사용하여 기존 요소를 교체할 수 있음  

- start, stop 부분 생략 시 인덱스는 가장 첫 인덱스와 가장 마지막 인덱스로 자동 설정됨  

- 인덱스를 음수로 설정하는 경우, 마지막 인덱스를 기준으로 슬라이싱 &rightarrow; 음수 슬라이싱인 경우에는 총 길이 + 음수 인덱스만큼을 슬라이싱한다고 생각하면 편함  
  
<p align="center"><img src="2025-08-03-01-06-36.png"></p>  

- list[::step] : 시작부터 끝까지 step 만큼 건너뛰면서 요소 가져오기  

- list[::2] : **시작부터 끝까지** 2칸씩 띄면서 요소를 추출  

- list[::-1] : **끝부터 시작까지** 한칸씩 띄면서 요소 가져오기 &rightarrow; 역순으로 요소 추출

In [32]:
a_list = [2, 3, 7, None]
a_list

[2, 3, 7, None]

In [33]:
tup = ("foo", "bar", "baz")
b_list = list(tup)
b_list
b_list[1] = "peekaboo"
b_list

['foo', 'peekaboo', 'baz']

In [34]:
gen = range(10)
gen

range(0, 10)

In [35]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
b_list.append("dwarf")
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [37]:
b_list.insert(1, "red")
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [38]:
b_list.pop(2)
b_list

['foo', 'red', 'baz', 'dwarf']

In [39]:
b_list.append("foo")
b_list
b_list.remove("foo")
b_list

['red', 'baz', 'dwarf', 'foo']

In [40]:
"dwarf" in b_list

True

In [41]:
"dwarf" not in b_list

False

In [42]:
[4, None, "foo"] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [43]:
x = [4, None, "foo"]
x.extend([7, 8, (2, 3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

In [44]:
a = [7, 2, 5, 1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

In [45]:
b = ["saw", "small", "He", "foxes", "six"]
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

In [46]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

In [47]:
seq[3:5] = [6, 3]
seq

[7, 2, 3, 6, 3, 6, 0, 1]

In [48]:
seq[:5]
seq[3:]

[6, 3, 6, 0, 1]

In [49]:
seq[-4:]
seq[-6:-2]

[3, 6, 3, 6]

In [50]:
seq[::2]

[7, 3, 3, 0]

In [51]:
seq[::-1]

[1, 0, 6, 3, 6, 3, 2, 7]

## 3. dictionary  


### 특징  
- {key : value} 쌍으로 구성  

- key 값으로는 string, integer, tuple 등 수정이 불가한 다양한 자료형 포함 가능 &rightarrow; hash(key) 함수로 사용 가능 여부 확인

- value 역시 리스트, 튜플 등 다양한 데이터를 포함 가능함  

- dict[key] = value 반환  

- dict(zip(x, y)) 구문을 사용하여 key-value 쌍을 사용한 딕셔너리 생성 가능


### 메서드  
- 딕셔너리에 key 값 포함 여부 확인 : key in dict or key not in dict  

- 특정 키값 삭제 : del dict[key]    

- 특정 키값 삭제 및 반환 : dict.pop(key)  

- 딕셔너리 키 값 반환 : dict.keys()  

- 딕셔너리 value 반환 : dict.values()  

- 딕셔너리 key-value 쌍 반환 : dict.itmes()  

- 딕셔너리 key-value 쌍 업데이트 : dict.update({'key':'value'}) &rightarrow; 기존과 동일한 key는 업데이트, 기존에 없던 key는 추가  

- value들의 가장 첫 글자로 구성된 key-value 쌍을 만드는 방법 1 : for + dict.setdefault(x[0], []).append(x) 구문  

- value들의 가장 첫 글자로 구성된 key-value 쌍을 만드는 방법 2 : 내장 collections 모듈 for + defaultdict(x[0]).append(x) 구문

In [57]:
empty_dict = {}
d1 = {"a": "some value", "b": [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [58]:
d1[7] = "an integer"
d1
d1["b"]

[1, 2, 3, 4]

In [59]:
"b" in d1

True

In [60]:
d1[5] = "some value"
d1
d1["dummy"] = "another value"
d1
del d1[5]
d1
ret = d1.pop("dummy")
ret
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [61]:
list(d1.keys())
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [64]:
list(d1.items())
# d1.items()

[('a', 'some value'), ('b', [1, 2, 3, 4]), (7, 'an integer')]

In [65]:
d1.update({"b": "foo", "c": 12})
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

In [66]:
tuples = zip(range(5), reversed(range(5)))
tuples
mapping = dict(tuples)
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [67]:
words = ["apple", "bat", "bar", "atom", "book"]
by_letter = {}

for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [68]:
by_letter = {}
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [69]:
from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)

In [70]:
hash("string")
hash((1, 2, (2, 3)))
hash((1, 2, [2, 3])) # fails because lists are mutable

TypeError: unhashable type: 'list'

In [71]:
d = {}
d[tuple([1, 2, 3])] = 5
d

{(1, 2, 3): 5}

## 4. Set  

### 특징  
- 고유한 원소들의 순서 없는 모임  


### 할당  
- set([2, 2, 2, 1, 3, 3]) = {2, 2, 2, 1, 3, 3} = {1, 2, 3}  

- {} 으로 할당하는 경우, {} 내의 요소는 해시 가능한 요소여야 함 (튜플)  


### 집합 요소 관리  

- 요소 추가 : a.add(x)  

- 요소 제거 : a.remove(x) (요소가 없으면 KeyError)  

- 요소 제거: a.discard(x) (요소가 없어도 에러 없음)  

- 임의 요소 제거 : a.pop() (집합이 비어있으면 KeyError)  

- 모든 요소 제거 : a.clear()  


### 기본 집합 연산
- 합집합 : a.union(b) or a | b  

- 교집합 : a.intersection(b) or a & b  

- 차집합 : a.difference(b) or a - b  

- 대칭차집합 : a.symmetric_difference(b) or a ^ b    


### 집합 관계 확인
- 부분집합 확인 : a.issubset(b) or a <= b  

- 진부분집합 확인 : a < b  

- 상위집합 확인 : a.issuperset(b) or a >= b  

- 진상위집합 확인 : a > b  

- 서로소 확인 : a.isdisjoint(b)  

- 완전 동일한 집합인지 여부 확인 : a == b  



### 집합 수정 연산 (in-place)  
- 합집합 업데이트 : a.update(b) or a |= b  

- 교집합 업데이트 : a.intersection_update(b) or a &= b  

- 차집합 업데이트 : a.difference_update(b) or a -= b  

- 대칭차집합 업데이트 : a.symmetric_difference_update(b) or a ^= b

In [72]:
set([2, 2, 2, 1, 3, 3])
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [73]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

In [74]:
a.union(b)
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [75]:
a.intersection(b)
a & b

{3, 4, 5}

In [76]:
c = a.copy()
c |= b
c
d = a.copy()
d &= b
d

{3, 4, 5}

In [79]:
my_data = [1, 2, 3, 4]
my_set = {tuple(my_data)}
# my_set = {my_data} # 해시 불가 오류 생성
my_set

{(1, 2, 3, 4)}

In [80]:
a_set = {1, 2, 3, 4, 5}
{1, 2, 3}.issubset(a_set)
a_set.issuperset({1, 2, 3})

True

In [81]:
{1, 2, 3} == {3, 2, 1}

True

## 5. Built in sequence function  
  
- 반복 : for index, value in enumerate(collection):  

- 정렬 : sorted()  

- 요소를 쌍으로 묶기 : zip(x, y, z, ...) &rightarrow; 생성되는 요소의 수는 가장 짧은 시퀀스에 따라 결정  
  
    - 일반적으로 다음과 같이 사용 &rightarrow; for index, (a, b) in enumerate(zip(seq1, seq2)):  

- 역순 : reversed()

In [84]:
sorted([7, 1, 2, 6, 0, 3, 2])
sorted("horse race")

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [100]:
seq1 = ["foo", "bar", "baz"]
seq2 = ["one", "two", "three"]
zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [108]:
# zipped_list = list(zipped)
# a, b = zip(*zipped_list)
# print(a)
# print(b)

aa = [('foo', 'one'), ('bar', 'two'), ('baz', 'three')]
a, b = zip(*aa)
print(a)
print(b)

('foo', 'bar', 'baz')
('one', 'two', 'three')

In [86]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [87]:
for index, (a, b) in enumerate(zip(seq1, seq2)):
    print(f"{index}: {a}, {b}")

0: foo, one
1: bar, two
2: baz, three

In [88]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

## ⭐️ 6. comprehension ⭐️   

- <가져오고자 하는 요소> for <~> in <데이터> if <조건>  

#### 리스트 컴프리헨션  

- [x.upper() for x in strings if len(x) > 2]  



### 집합 컴프리헨션  

- {len(x) for x in strings}  



### 딕셔너리 컴프리헨션  

- {value: index for index, value in enumerate(strings)}

In [89]:
strings = ["a", "as", "bat", "car", "dove", "python"]
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [90]:
unique_lengths = {len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

In [91]:
# {len(x) for x in strings}와 동일한 결과
set(map(len, strings))

{1, 2, 3, 4, 6}

In [92]:
loc_mapping = {value: index for index, value in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [93]:
all_data = [["John", "Emily", "Michael", "Mary", "Steven"],
            ["Maria", "Juan", "Javier", "Natalia", "Pilar"]]

In [94]:
names_of_interest = []
for names in all_data:
    enough_as = [name for name in names if name.count("a") >= 2]
    names_of_interest.extend(enough_as)
names_of_interest

['Maria', 'Natalia']

In [95]:
result = [name for names in all_data for name in names
          if name.count("a") >= 2]
result

['Maria', 'Natalia']

In [96]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [97]:
flattened = []

for tup in some_tuples:
    for x in tup:
        flattened.append(x)

In [98]:
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# B. Functions  


- 함수 내에서 할당되는 모든 변수는 로컬 네임스페이스에 할당됨

## 1. python function basis

In [109]:
def my_function(x, y):
    return x + y

In [110]:
my_function(1, 2)
result = my_function(1, 2)
result

3

In [ ]:
def function_without_return(x):
    print(x) # 함수의 반환값이 없음. None 반환.
    # return x

result = function_without_return("hello!")
print(result)

hello!

In [113]:
def my_function2(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [114]:
my_function2(5, 6, z=0.7) # z=0.7
my_function2(3.14, 7, 3.5) # z=3.5
my_function2(10, 20) # z=1.5

45.0

In [122]:
# a는 함수 내에서만 존재하며, 함수 완료 시 소멸됨
# def func():
#     # global a # 함수 내에서 전역 변수로 지정하는 방법. 권장하지 않음.
#     a = []
#     for i in range(5):
#         a.append(i)


# a는 함수 밖에서 할당된 변수이므로, 함수 종료 후에도 남아있음.
a = []
def func():
    for i in range(5):
        a.append(i)

In [123]:
func()
a
func()
a

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

In [119]:
a = None
def bind_a_variable():
    global a
    a = []
bind_a_variable()
print(a)

[]

In [126]:
def f():
    a = 5
    b = 6
    c = 7
    return a, b, c

a, b, c = f()
print(a, b, c)

result = f()
print(result)

5 6 7
(5, 6, 7)

In [127]:
states = ["   Alabama ", "Georgia!", "Georgia", "georgia", "FlOrIda",
          "south   carolina##", "West virginia?"]

In [130]:
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip() # 문자열 양쪽 공백 제거
        value = re.sub("[!#?]", "", value) # 문자열에서 !, #, ? 문자 제거
        value = value.title() # 문자열 첫 글자를 대문자로 변환
        result.append(value)
    return result

clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [131]:
def remove_punctuation(value):
    return re.sub("[!#?]", "", value)

clean_ops = [str.strip, remove_punctuation, str.title] # 문자열 정리 함수 리스트 생성

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for func in ops:
            value = func(value)
        result.append(value)
    return result

clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

## ⭐️ 2. map  

- 반복 가능한 객체(iterable)의 모든 요소에 동일한 함수를 적용하여 새로운 반복자를 생성하는 함수  

- map(function, iterable1, iterable2, ...)

In [132]:
# map 함수 : 각 요소에 함수를 적용하여 새로운 시퀀스 생성
for x in map(remove_punctuation, states):
    print(x)

   Alabama
Georgia
Georgia
georgia
FlOrIda
south   carolina
West virginia

## ⭐️ 3. lambda  

- 한 줄로 작성할 수 있는 익명 함수. 한 번만 사용되는 간단한 함수를 만들 때 사용. &rightarrow; 반환값이 존재함!  

- lambda 매개변수: 표현식  

- map, filter, reduce 함수 등과 함께 사용되는 경우가 많음  

    - 용도에 따라 반환값 다름  

        - filter: True/False (조건 확인)  

        - map: 변환된 값 (데이터 변환)  


        - reduce: 누적 결과 (데이터 축소)

In [133]:
def short_function(x):
    return x * 2

equiv_anon = lambda x: x * 2

In [ ]:
ints = [4, 0, 1, 5, 6]

def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

apply_to_list(ints, lambda x: x * 2)

[8, 0, 2, 10, 12]

In [ ]:
strings = ["foo", "card", "bar", "aaaa", "abab"]

# 고유 문자 수에 따라 정렬
# lambda의 x는 strings를 자동으로 받아옴
strings.sort(key=lambda x: len(set(x)))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

In [137]:
# 일반 함수
def add(x, y):
    return x + y

# lambda 함수 (동일한 기능)
add_lambda = lambda x, y: x + y

print(add(5, 3))        # 8
print(add_lambda(5, 3)) # 8

8
8

In [138]:
# 즉시 실행되는 lambda
result = (lambda x: x * 2)(5)
print(result)  # 10

10

In [ ]:
# map 함수와 lambda 함수 사용 예제 1
# map(function, iterable)

numbers = [1, 2, 3, 4, 5]

# 각 숫자를 제곱
squared = map(lambda x: x**2, numbers)
print(list(squared))  # [1, 4, 9, 16, 25]

# 각 숫자에 10 더하기
plus_ten = map(lambda x: x + 10, numbers)
print(list(plus_ten))  # [11, 12, 13, 14, 15]

[1, 4, 9, 16, 25]
[11, 12, 13, 14, 15]

In [140]:
# map 함수와 lambda 함수 사용 예제 2
# map(function, iterable)

words = ['hello', 'world', 'python']

# 각 단어를 대문자로 변환
uppercase = map(lambda x: x.upper(), words)
print(list(uppercase))  # ['HELLO', 'WORLD', 'PYTHON']

# 각 단어의 길이 구하기
lengths = map(lambda x: len(x), words)
print(list(lengths))  # [5, 5, 6]

['HELLO', 'WORLD', 'PYTHON']
[5, 5, 6]

In [ ]:
# filter 함수와 lambda 함수 사용 예제 1
# filter(condition, iterable)

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# 짝수만 필터링
evens = filter(lambda x: x % 2 == 0, numbers)
print(list(evens))  # [2, 4, 6, 8, 10]

# 5보다 큰 수만 필터링
greater_than_five = filter(lambda x: x > 5, numbers)
print(list(greater_than_five))  # [6, 7, 8, 9, 10]

words = ['apple', 'banana', 'cherry', 'date', 'elderberry']

# 'a'가 포함된 단어만 필터링
contains_a = filter(lambda x: 'a' in x, words)
print(list(contains_a))  # ['apple', 'banana', 'date']

# 길이가 5보다 긴 단어만 필터링
long_words = filter(lambda x: len(x) > 5, words)
print(list(long_words))  # ['banana', 'cherry', 'elderberry']

[2, 4, 6, 8, 10]
[6, 7, 8, 9, 10]

In [ ]:
# reduce 함수와 lambda 함수 사용 예제
# reduce(function, iterable)

# 작동 방식 - 두 가지 요소에 대한 연산을 이터레이터가 종료할 때까지 반복
# 첫 번째와 두 번째 요소를 함수에 적용
# 결과와 세 번째 요소를 함수에 적용
# 결과와 네 번째 요소를 함수에 적용
# 이 과정을 마지막 요소까지 반복

from functools import reduce

numbers = [1, 2, 3, 4, 5]

# 모든 숫자 더하기
total = reduce(lambda x, y: x + y, numbers)
print(total)  # 15

# 모든 숫자 곱하기
product = reduce(lambda x, y: x * y, numbers)
print(product)  # 120

# 최대값 찾기
maximum = reduce(lambda x, y: x if x > y else y, numbers)
print(maximum)  # 5

15
120
5

In [ ]:
# 주식 데이터 처리
stock_data = [
    {'symbol': 'AAPL', 'price': 150.25, 'volume': 1000000},
    {'symbol': 'GOOGL', 'price': 2750.50, 'volume': 500000},
    {'symbol': 'MSFT', 'price': 300.75, 'volume': 750000}
]

# 가격이 200 이상인 주식만 필터링
# 이터레이터에 대한 데이터 추출 표현 확인
expensive_stocks = filter(lambda x: x['price'] > 200, stock_data)
print(list(expensive_stocks))

# 거래량 기준으로 정렬
by_volume = sorted(stock_data, key=lambda x: x['volume'], reverse=True)
print(by_volume)

[{'symbol': 'GOOGL', 'price': 2750.5, 'volume': 500000}, {'symbol': 'MSFT', 'price': 300.75, 'volume': 750000}]
[{'symbol': 'AAPL', 'price': 150.25, 'volume': 1000000}, {'symbol': 'MSFT', 'price': 300.75, 'volume': 750000}, {'symbol': 'GOOGL', 'price': 2750.5, 'volume': 500000}]

In [148]:
# 조건부 lambda 표현식

# 조건에 따라 다른 값 반환
process_number = lambda x: x * 2 if x > 0 else x * -1

numbers = [1, -2, 3, -4, 5]
result = map(process_number, numbers)
print(list(result))  # [2, 2, 6, 4, 10]

[2, 2, 6, 4, 10]

In [149]:
# 중첩 lambda 표현식

# 함수를 반환하는 lambda
def create_multiplier(n):
    return lambda x: x * n

double = create_multiplier(2)
triple = create_multiplier(3)

print(double(5))  # 10
print(triple(5))  # 15

10
15

## 4. Generators  


- 하나의 이터레이터에 대해서 한 번에 하나의 요소만을 생성하므로 한번에 전체 목록을 처리하는 것에 비해 메모리 효율적  

- iter( ) 함수, 함수 내 yeild 반환, comprehension 등의 방법을 사용하여 생성함

In [150]:
some_dict = {"a": 1, "b": 2, "c": 3}
for key in some_dict:
    print(key)

a
b
c

In [151]:
dict_iterator = iter(some_dict)
dict_iterator

In [152]:
list(dict_iterator)

['a', 'b', 'c']

In [153]:
def squares(n=10):
    print(f"Generating squares from 1 to {n ** 2}")
    for i in range(1, n + 1):
        yield i ** 2

In [154]:
gen = squares()
gen

In [155]:
for x in gen:
    print(x, end=" ")

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

In [ ]:
gen = (x ** 2 for x in range(100))
gen

# 아래와 동일
# def _make_gen():
#     for x in range(100):
#         yield x ** 2
# gen = _make_gen()

In [157]:
sum(x ** 2 for x in range(100))
dict((i, i ** 2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

### ⭐️ itertools  

- itertools.combinations(iterable, k) : 조합  

- itertools.permutations(iterable, k) : 순서를 고려한 순열  

- itertools.combinations_with_replacement(iterable, k) : 중복 가능 조합  

- itertools.chain(iterable1, iterable2...) : interator를 연결하여 시퀀스 생성  

- itertools.groupby(iterable, func) : 연속된 요소들을 특정 기준으로 그룹화  

- itertools.groupby(iterable1, iterable2, ... , func) : 데카르트곱 (cross join)

In [159]:
import itertools
def first_letter(x):
    return x[0]

names = ["Alan", "Adam", "Wes", "Will", "Albert", "Steven"]

# itertools.groupby() : 시퀀스와 함수를 받아서 연속된 요소를 그룹화하는 함수
# 첫 글자를 기준으로 그룹화

for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # names is a generator

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

## 5. Errors and Exception Handling  
  
- try:  

- except: 구문  

    - except 구문은 try 문에서 예외가 발생하는 경우에만 실행되며, 보통 반환값을 강제하는 데 사용함.  


- 예외 케이스에 따른 반환값을 강제하지 않는 경우에는, try 구문의 성공 여부에 관계없이 특정 코드만을 실행할 수 있음. &rightarrow; finally 구문  

- else 구문을 사용하면, except 구문에서 걸리지 않고 성공했을 경우에만 실행되는 코드를 넣어줄 수 있음  

    - try: except: else: finally: 의 순서

In [160]:
float("1.2345")
float("something")

ValueError: could not convert string to float: 'something'

In [168]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x
    
attempt_float("1.2345")
attempt_float("something")

'something'

In [163]:
float((1, 2))

TypeError: float() argument must be a string or a real number, not 'tuple'

In [167]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

attempt_float((1, 2))

TypeError: float() argument must be a string or a real number, not 'tuple'

In [169]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x
    
attempt_float((1, 2))

(1, 2)

In [ ]:
f = open(path, mode="w")

try:
    write_to_file(f)
finally:
    f.close()

In [ ]:
f = open(path, mode="w")

try:
    write_to_file(f)
except:
    print("Failed")
else:
    print("Succeeded")
finally:
    f.close()

# C. Files and the operating system

## 1. 파일 읽기  


- read([size]) : 파일에서 데이터를 읽음. size 인수는 읽을 바이트/문자 수를 지정.  

- readable() : 파일이 읽기 작업을 지원하면 True를 반환.  

- readlines([size]) : 파일의 모든 줄을 리스트로 반환. size 인수로 읽을 줄 수를 제한할 수 있음.  


## 2. 파일 제어하기  


- close() : 파일 객체 닫기.  

- flush() : 내부 I/O 버퍼를 디스크에 강제로 덮어쓰기.  

- seek(pos) : 파일의 특정 위치로 이동.  

- seekable() : 파일이 임의 접근(random access)을 지원하면 True를 반환.  

- tell() : 현재 파일 위치를 정수로 반환.  

     - 텍스트 읽기 : 다음 읽을 위치를 반환.  

     - 바이너리 읽기 : 정확히 읽은 만큼의 바이트 수를 반환.

In [174]:
path = "examples/segismundo.txt"
f = open(path, encoding="utf-8") # 읽기 전용 모드

In [175]:
for line in f:
    print(line)

Sueña el rico en su riqueza,

que más cuidados le ofrece;



sueña el pobre que padece

su miseria y su pobreza;



sueña el que a medrar empieza,

sueña el que afana y pretende,

sueña el que agravia y ofende,



y en el mundo, en conclusión,

todos sueñan lo que son,

aunque ninguno lo entiende.

In [176]:
lines = [x.rstrip() for x in open(path, encoding="utf-8")]
lines

['Sueña el rico en su riqueza,',
 'que más cuidados le ofrece;',
 '',
 'sueña el pobre que padece',
 'su miseria y su pobreza;',
 '',
 'sueña el que a medrar empieza,',
 'sueña el que afana y pretende,',
 'sueña el que agravia y ofende,',
 '',
 'y en el mundo, en conclusión,',
 'todos sueñan lo que son,',
 'aunque ninguno lo entiende.',
 '']

In [177]:
f.close()

In [ ]:
# 파일 정리를 좀 더 수월하게 하기 위함 : with 구문 사용
# 해당 코드 블록 종료 시 파일 자동 닫힘

with open(path, encoding="utf-8") as f:
    lines = [x.rstrip() for x in f]

In [ ]:
# 단순 읽기 모드
f1 = open(path)

# read 메서드 : 읽은 바이트 수만큼 파일 객체 위치가 이동함
# read(N) : N개의 데이터를 읽어온다는 의미
# 'Sueña el r'
# 파일을 연 직후의 위치는 0임
print(f1.read(10))

# 현재 위치 - 다음 읽기 위치를 반환
print(f1.tell())

Sueña el r
11

In [ ]:
# 열린 파일 객체에서 바이트 수만큼 객체가 이동하였으므로, 이어서 10만큼을 더 읽으면 객체 위치가 이어서 이동함
print(f1.read(10))

# 현재 위치
print(f1.tell())

ico en su
21

In [ ]:
# 바이너리 모드

# read(N) : N개의 바이트를 읽어온다는 의미
# 바이너리로 읽는 경우, 2바이트로 구성된 문자가 있을 수 있기 때문에 단순 읽기 모드로 가져온 값과 결과가 상이함
# 'Sue\xc3\xb1a el ' 
f2 = open(path, mode="rb")  # Binary mode
print(f2.read(10))

# 현재 위치 - 읽은 바이트 수를 반환 != 다음 읽기 위치
print(f2.tell())

b'Sue\xc3\xb1a el '
10

In [196]:
# seek : 파일의 지정된 위치로 이동하는 메서드
print(f1.seek(3))
print(f1.read(1))
print(f1.tell())

3
ñ
5

In [197]:
f1.close()
f2.close()

## 3. 파일 쓰기  

- write(string) : 파일에 문자열을 작성.  

- writable() : 파일이 쓰기 작업을 지원하면 True를 반환.  

- writelines(strings) : 문자열 시퀀스를 파일에 작성.

In [198]:
path

with open("tmp.txt", mode="w") as handle:
    handle.writelines(x for x in open(path) if len(x) > 1)

with open("tmp.txt") as f:
    lines = f.readlines()

lines

['Sueña el rico en su riqueza,\n',
 'que más cuidados le ofrece;\n',
 'sueña el pobre que padece\n',
 'su miseria y su pobreza;\n',
 'sueña el que a medrar empieza,\n',
 'sueña el que afana y pretende,\n',
 'sueña el que agravia y ofende,\n',
 'y en el mundo, en conclusión,\n',
 'todos sueñan lo que son,\n',
 'aunque ninguno lo entiende.\n']

In [199]:
import os
os.remove("tmp.txt")

In [200]:
with open(path) as f:
    chars = f.read(10)

chars
len(chars)

10

In [201]:
with open(path, mode="rb") as f:
    data = f.read(10)

data

b'Sue\xc3\xb1a el '

In [204]:
# data.decode("utf-8")

# 인코딩된 문자열의 디코딩도 가능하지만, 인코딩된 유니코드 문자가 모두 구성된 경우에만 가능함
data[:4].decode("utf-8")

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xc3 in position 3: unexpected end of data

In [203]:
sink_path = "sink.txt"
with open(path) as source:
    with open(sink_path, "x", encoding="iso-8859-1") as sink:
        sink.write(source.read())

with open(sink_path, encoding="iso-8859-1") as f:
    print(f.read(10))

Sueña el r

In [205]:
os.remove(sink_path)

## 4. 텍스트 읽기 vs 바이너리 읽기

In [ ]:
# 바이너리 모드로 읽지 않는 경우, 문자의 바이트 구조에 따라 고려해야 할 부분이 있음
# f.read(5) = Sueña
# f.seek(4) = 0 > 1 > 2 > 3 > 4의 위치로 이동하고 그 위치에서 읽기 시작
# 하지만 ñ은 두 개의 바이트로 구성된 문자이므로, 4번째 위치에서 읽기 시작하면 ñ의 중간에서 읽기 시작하게 됨
# 따라서 오류 발생

# "Sueña" 문자열:
# S  u  e  ñ     a
# 1  1  1  2     1  (바이트 수)

# seek(4) 위치:
# S  u  e  ñ     a
# 0  1  2  3  4  5  6  (위치)
#          ↑
#       여기서 멈춤 (ñ의 중간)

f = open(path, encoding='utf-8')
print(f.read(5))
print(f.tell())
print(f.seek(4))
print(f.read(1))
f.close()

Sueña
6
4

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xb1 in position 0: invalid start byte