# 6. Data Loading, Storage, and File Formats  

- reading text files  
- reading on-disk formats  
- loading data from databases  
- interacting with network sources like web APIs

In [1]:
import numpy as np
import pandas as pd
np.random.seed(12345)

import matplotlib.pyplot as plt
plt.rc("figure", figsize=(10, 6))

pd.options.display.max_colwidth = 75
pd.options.display.max_columns = 20
np.set_printoptions(precision=4, suppress=True)

## 1. Reading and Writing Data in Text Format  

- tabular, binary 데이터를 DataFrame 객체로 반환하는 다양한 함수 존재.  

    | 함수 | 설명 |  
    |------|------|  
    | **read_csv** | 파일, URL 또는 파일류 객체에서 구분된 데이터를 로드. 기본 구분자는 쉼표 |  
    | **read_fwf** | 고정 너비 열 형식의 데이터를 읽음 (즉, 구분자가 없음) |  
    | **read_clipboard** | 클립보드에서 데이터를 읽는 read_csv의 변형. 웹 페이지의 표를 변환하는 데 유용 |  
    | **read_excel** | Excel XLS 또는 XLSX 파일에서 표 형태의 데이터를 읽음 |  
    | **read_hdf** | pandas로 작성된 HDF5 파일을 읽음 |  
    | **read_html** | 주어진 HTML 문서에서 찾은 모든 표를 읽음 |  
    | **read_json** | JSON(JavaScript Object Notation) 문자열 표현, 파일, URL 또는 파일류 객체에서 데이터를 읽음 |  
    | **read_feather** | Feather 바이너리 파일 형식을 읽음 |  
    | **read_orc** | Apache ORC 바이너리 파일 형식을 읽음 |  
    | **read_parquet** | Apache Parquet 바이너리 파일 형식을 읽음 |  
    | **read_pickle** | Python pickle 형식을 사용하여 pandas로 저장된 객체를 읽음 |  
    | **read_sas** | SAS 시스템의 사용자 정의 저장 형식 중 하나로 저장된 SAS 데이터셋을 읽음 |  
    | **read_spss** | SPSS로 생성된 데이터 파일을 읽음 |  
    | **read_sql** | SQL 쿼리의 결과를 읽음 (SQLAlchemy 사용) |  
    | **read_sql_table** | 전체 SQL 테이블을 읽음 (SQLAlchemy 사용). read_sql을 사용하묘, SELECT * 쿼리와 동일 |  
    | **read_stata** | Stata 파일 형식에서 데이터셋을 읽음 |  
    | **read_xml** | XML 파일에서 데이터 표를 읽음 |  

<br>  

- 위 함수들을 사용함으로써 조정 가능한 주요 처리 범주  

    - Indexing : 하나 이상의 열을 반환된 DataFrame으로 처리  
    - Type inference and data conversion : 데이터의 각 컬럼의 자료형을 일일이 지정해줄 필요가 없으며, 이에 대한 추론을 수행. 또한 missing value marker 표현.   
    - Date and time parsing : 날짜 및 시간 정보를 단일 열로 통합하는 결합 가능.  
    - Iterating : 매우 큰 파일에 대한 chunk 단위의 반복 가능.  
    - Unclean data issues : row나 footer 또는 주석, 콤마로 구분된 숙자값들의 처리.

### 1.1. pandas.read_csv()  

- 주요 arguments  

    | 인수 | 설명 |  
    |------|------|  
    | **path** | 파일시스템 위치, URL 또는 파일류 객체를 나타내는 문자열 |  
    | **sep or delimiter** | 각 행의 필드를 분할하는 데 사용할 문자 시퀀스 또는 정규표현식 |  
    | **header** | 컬럼 이름으로 사용할 행 번호. 기본값은 0(첫 번째 행)이지만, 헤더 행이 없는 경우 None이어야 함 |  
    | **index_col** | 결과에서 행 인덱스로 사용할 컬럼 번호 또는 이름. 단일 이름/번호 또는 계층적 인덱스를 위한 목록일 수 있음 |  
    | **names** | 결과의 컬럼 이름 목록 |  
    | **skiprows** | 파일 시작 부분에서 무시할 행 수 또는 건너뛸 행 번호 목록(0부터 시작) |  
    | **na_values** | NA로 대체할 대상 값들의 시퀀스. keep_default_na=False가 전달되지 않는 한 기본 목록에 추가됨 |  
    | **keep_default_na** | 기본 NA으로 대체할 대상 값 목록을 사용할지 여부(기본값은 True) |  
    | **comment** | 행 끝에서 주석을 분할할 문자(들) |  
    | **parse_dates** | 데이터를 datetime으로 파싱. 기본값은 False. True이면 모든 컬럼을 파싱. 파싱할 컬럼 번호 또는 이름 목록을 지정할 수 있음. 목록의 요소가 튜플이나 목록이면 여러 컬럼을 결합하여 단일 날짜로 파싱(예: 날짜/시간이 두 컬럼에 걸쳐 있는 경우) |  
    | **keep_date_col** | 날짜를 파싱하기 위해 컬럼을 결합하는 경우, 결합된 컬럼을 유지. 기본값은 False |  
    | **converters** | 컬럼 번호 또는 이름을 함수에 매핑하는 딕셔너리(예: {"foo": f}는 "foo" 컬럼의 모든 값에 함수 f를 적용) |  
    | **dayfirst** | 잠재적으로 모호한 날짜를 파싱할 때 국제 형식으로 처리(예: 7/6/2012 -> 2012년 6월 7일). 기본값은 False |  
    | **date_parser** | 날짜를 파싱하는 데 사용 |  
    | **nrows** | 파일 시작 부분에서 읽을 행 수(헤더는 계산하지 않음) |  
    | **iterator** | 파일을 조각조각 읽기 위한 TextFileReader 객체를 반환. 이 객체는 with 문과도 함께 사용 가능 |  
    | **chunksize** | 반복을 위한 파일 청크 크기 |  
    | **skip_footer** | 파일 끝에서 무시할 줄 수 |  
    | **verbose** | 파일 변환의 각 단계에서 소요된 시간과 메모리 사용 정보와 같은 다양한 파싱 정보를 출력 |  
    | **encoding** | 텍스트 인코딩(예: UTF-8 인코딩된 텍스트의 경우 "utf-8"). None이면 기본값은 "utf-8" |  
    | **squeeze** | 파싱된 데이터에 컬럼이 하나만 포함되어 있으면 Series를 반환 |  
    | **thousands** | 천 단위 구분자(예: "," 또는 "."). 기본값은 None |  
    | **decimal** | 숫자의 소수점 구분자(예: "." 또는 ","). 기본값은 "." |  
    | **engine** | 사용할 CSV 파싱 및 변환 엔진. "c", "python" 또는 "pyarrow" 중 하나. 기본값은 "c"이지만, 더 새로운 "pyarrow" 엔진은 일부 파일을 훨씬 빠르게 파싱할 수 있음. "python" 엔진은 느리지만 다른 엔진이 지원하지 않는 일부 기능을 지원 |

In [ ]:
# 콤마로 구분된 파일
!cat examples/ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [3]:
# 콤마로 구분된 데이터이기 때문에, pd.read_csv 함수를 사용.
df = pd.read_csv("examples/ex1.csv")
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [ ]:
# 하지만 항상 모든 파일이 헤더를 가지고 있는 것은 아님
!cat examples/ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [ ]:
# 헤더가 없는 상태로 출력
# default 컬럼명을 자동으로 지정
print(pd.read_csv("examples/ex2.csv", header=None))
print()

# 헤더를 지정하여 출력
# names 인자를 사용하여 컬럼명을 지정
print(pd.read_csv("examples/ex2.csv", names=["a", "b", "c", "d", "message"]))

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [6]:
# names 인자를 사용하여 컬럼명을 지정
# index_col 인자를 사용하여 특정 컬럼을 인덱스로 지정

names = ["a", "b", "c", "d", "message"]
pd.read_csv("examples/ex2.csv", names=names, index_col="message")

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [9]:
# hierarchical index 생성
# 컬럼 키 값을 기준으로 데이터를 분리하여 계층적 인덱스 생성
# 이를 위해서, index_col 인자에 리스트 형태로 기준으로 삼을 컬럼명을 지정
!cat examples/csv_mindex.csv
print()

parsed = pd.read_csv("examples/csv_mindex.csv",
                     index_col=["key1", "key2"])
print(parsed)

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [ ]:
# 경우에 따라 테이블에 고정 구분 기호가 없는 경우가 있음
# 출력 시 나온 컬럼 수 에 비해서 행 별 데이터 수가 하나 많기 때문에, read_csv 함수는 가장 첫번째 컬럼값을 인덱스로 추론함
!cat examples/ex3.txt
print()

# 고정 구분 기호가 없는 경우, sep 인자에 고정 구분 기호를 지정
# s+ 는 공백 문자를 의미하며, 이를 기준으로 데이터를 분리
result = pd.read_csv("examples/ex3.txt", sep="\\s+")
print(result)

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [17]:
# 읽어온 파일의 특정 행을 건너뛰기
!cat examples/ex4.csv
print()

# skiprows 인자를 사용하여 0, 2, 3 행을 건너뛰기
print(pd.read_csv("examples/ex4.csv", skiprows=[0, 2, 3]))

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [20]:
# 결측치 : 일반적으로 존재하지 않거나, 결측치 표시 기호가 있는 경우가 있음 (NA, NULL, etc.)
!cat examples/ex5.csv
print()
print()

# 데이터 파일에서 누락된 값을 표시하는 방법
# 일반적으로 pandas 는 누락된 값을 NaN 으로 표시
result = pd.read_csv("examples/ex5.csv")
print(result)

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [ ]:
# 결측치 존재 여부 확인
pd.isna(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [ ]:
# na_values 인자를 사용하여 결측치로 인식할 문자열 지정
result = pd.read_csv("examples/ex5.csv", na_values=["NULL"])
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [35]:
# keep_default_na 인자를 사용하여 기본 결측치 표시 기호를 무시
# 즉, 결측치를 기본으로 NaN 값으로 변환하는 pandas 의 기본 설정을 무시
# 이에 따라 비어 있는 값의 경우에도 원본 그대로의 문자열로 인식되며, 결측치로 인식되지 않음
# 따라서 isna 함수를 사용하여 결측치 존재 여부를 확인할 때, 비어 있는 값도 결측치로 인식되지 않음
result2 = pd.read_csv("examples/ex5.csv", keep_default_na=False)
print(result2)
print()

print(result2.isna())
print()
print()
print()

# keep_default_na 인자를 사용하여 기본 결측치 표시 기호를 무시
# na_values 인자를 사용하여 결측치로 인식할 문자열 지정
# 따라서 NA 문자열을 결측치로 인식
result3 = pd.read_csv("examples/ex5.csv", keep_default_na=False, na_values=["NA"])
print(result3)
print()

print(result3.isna())

  something  a   b   c   d message
0       one  1   2   3   4      NA
1       two  5   6       8   world
2     three  9  10  11  12     foo

   something      a      b      c      d  message
0      False  False  False  False  False    False
1      False  False  False  False  False    False
2      False  False  False  False  False    False



  something  a   b   c   d message
0       one  1   2   3   4     NaN
1       two  5   6       8   world
2     three  9  10  11  12     foo

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False  False  False    False
2      False  False  False  False  False    False

In [37]:
# 컬럼별로 결측치 표시 기호를 다르게 지정
sentinels = {"message": ["foo", "NA"], "something": ["two"]}
pd.read_csv("examples/ex5.csv", na_values=sentinels, keep_default_na=False)

  something  a   b   c   d message
0       one  1   2   3   4     NaN
1       NaN  5   6       8   world
2     three  9  10  11  12     NaN

### 1.2. Reading Text Files in Pieces

In [38]:
# 큰 파일을 읽음에 있어 작은 조각으로 나누어 읽거나, 작은 조각을 반복해서 읽을 수 있음
pd.options.display.max_rows = 10

In [39]:
result = pd.read_csv("examples/ex6.csv")
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [40]:
# 읽어올 행 수를 지정하여 읽을 수 있음
pd.read_csv("examples/ex6.csv", nrows=5)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [ ]:
# 큰 파일을 작은 조각으로 나누어 읽을 수 있음
# chunksize 인자를 사용하여 읽어올 행 수를 지정
# pandas.io.parsers.readers.TextFileReader : read_csv 함수의 반환 객체
# chunk 크기에 따라 파일 부분을 반복 가능.
chunker = pd.read_csv("examples/ex6.csv", chunksize=1000)
type(chunker)

pandas.io.parsers.readers.TextFileReader

In [50]:
# 예를 들어, 키 값의 빈도를 계산하는 경우

# chunker : 반복 가능한 객체이며, 각 반복에서 하나의 chunk 데이터를 반환
# chunksize 인자를 사용하여 읽어올 행 수를 지정
# 하나의 chunker 객체는 여러 개의 조각들(size = 1000)이 모여 구성되며, 이를 통해 큰 파일을 작은 조각으로 나누어 처리할 수 있음
chunker = pd.read_csv("examples/ex6.csv", chunksize=1000)

# chunker 객체에 있는 각 조각들을 반복해가며 숫자를 집계하며, 이전 결과값에 각 조각의 집계 결과를 모두 더해서 최종 결과를 반환.
tot = pd.Series([], dtype='int64')
for piece in chunker:
    tot = tot.add(piece["key"].value_counts(), fill_value=0)

tot = tot.sort_values(ascending=False)
tot[:10]

key
E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
dtype: float64

### 1.3. Writing Data to Text Format

In [51]:
data = pd.read_csv("examples/ex5.csv")
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [53]:
# DataFrame 객체를 csv 파일로 저장
data.to_csv("examples/out.csv")

# 저장된 csv 파일 확인
!cat examples/out.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

In [55]:
import sys

# stdout : 표준 출력 스트림
# sep : 구분 기호
# na_rep : 결측치 표시 기호
data.to_csv(sys.stdout, sep="|")

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [56]:
data.to_csv(sys.stdout, na_rep="NULL")

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [57]:
# index=False : 인덱스 저장 여부
# header=False : 컬럼명 저장 여부
data.to_csv(sys.stdout, index=False, header=False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [ ]:
# columns : 저장할 컬럼명 목록
# 컬럼명 목록에 없는 컬럼은 저장되지 않음
# 제일 앞에 있는 컬럼은 인덱스로 추론하기 때문에 저장되지 않음
data.to_csv(sys.stdout, index=False, columns=["a", "b", "c"])

a,b,c
1,2,3.0
5,6,
9,10,11.0

### 1.4. Working with Other Delimited Formats  

- 대부분의 tabular 파일은 read_csv를 사용해서 처리가 가능하지만, 잘못된 형식의 데이터가 들어와 수동 조정해야 하는 경우가 빈번히 발생함.

In [60]:
!cat examples/ex7.csv

"a","b","c"
"1","2","3"
"1","2","3"

In [62]:
# 단일 문자열 구분자를 식별하기 위해 csv 모듈을 사용
import csv

f = open("examples/ex7.csv")
reader = csv.reader(f)

for line in reader:
    print(line)
f.close()

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [64]:
# 전체 데이터를 읽어오기 위해 csv 모듈을 사용
# 읽어온 데이터를 리스트로 변환
with open("examples/ex7.csv") as f:
    lines = list(csv.reader(f))
    
# 헤더와 값을 분리
header, values = lines[0], lines[1:]

# 헤더와 값을 딕셔너리로 변환
# *values : 각 행의 값들을 튜플로 묶어서 반환
# zip(header, zip(*values)) : 헤더와 각 행의 값들을 묶어서 반환
data_dict = {h: v for h, v in zip(header, zip(*values))}
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

#### 1.4.1. dialect options  

| 인수 | 설명 |  
|------|------|  
| **delimiter** | 필드를 구분하는 한 문자 문자열. 기본값은 "," |  
| **lineterminator** | 쓰기를 위한 줄 종료자. 기본값은 "\r\n". Reader는 이를 무시하고 크로스 플랫폼 줄 종료자를 인식 |  
| **quotechar** | 특수 문자가 있는 필드(구분자와 같은)에 대한 인용 문자. 기본값은 '"' |  
| **quoting** | 인용 규칙. 옵션에는 csv.QUOTE_ALL(모든 필드 인용), csv.QUOTE_MINIMAL(구분자와 같은 특수 문자가 있는 필드만), csv.QUOTE_NONNUMERIC, csv.QUOTE_NONE(인용 없음), 기본값은 QUOTE_MINIMAL |  
| **skipinitialspace** | 각 구분자 뒤의 공백을 무시. 기본값은 False |  
| **doublequote** | 필드 내부의 인용 문자를 처리하는 방법 |  
| **escapechar** | 인용이 csv.QUOTE_NONE으로 설정된 경우 구분자를 이스케이프하는 문자열. 기본적으로 비활성화 |

In [ ]:
# csv 파일은 다양한 형식의 데이터를 포함할 수 있음
# 이를 처리하기 위해서 csv.Dialect 를 정의하여 subclass 로 생성

class my_dialect(csv.Dialect):
    lineterminator = "\n" # 각 행의 끝을 나타내는 문자
    delimiter = ";" # 각 필드를 구분하는 문자
    quotechar = '"' # 문자열을 묶는 문자
    quoting = csv.QUOTE_MINIMAL # 문자열을 묶는 방법

f = open("examples/ex7.csv")
reader = csv.reader(f, dialect=my_dialect)

for line in reader:
    print(line)
f.close()

['a,"b","c"']
['1,"2","3"']
['1,"2","3"']

In [ ]:
f = open("examples/ex7.csv")
reader = csv.reader(f, delimiter="|") # 구분 기호를 지정

for line in reader:
    print(line)
f.close()

['a,"b","c"']
['1,"2","3"']
['1,"2","3"']

### 1.5. JSON Data

In [75]:
# web과 app 사이에 데이터를 교환하는 경우, JSON 형식을 사용하는 것이 일반적

obj = """
{"name": "Wes",
 "cities_lived": ["Akron", "Nashville", "New York", "San Francisco"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 34, "hobbies": ["guitars", "soccer"]},
              {"name": "Katie", "age": 42, "hobbies": ["diving", "art"]}]
}
"""

In [ ]:
import json

# json.loads : JSON 데이터를 Python 객체로 변환
result = json.loads(obj)
result

{'name': 'Wes',
 'cities_lived': ['Akron', 'Nashville', 'New York', 'San Francisco'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 34, 'hobbies': ['guitars', 'soccer']},
  {'name': 'Katie', 'age': 42, 'hobbies': ['diving', 'art']}]}

In [ ]:
# json.dumps : Python 객체를 JSON 데이터로 변환
asjson = json.dumps(result)
asjson

'{"name": "Wes", "cities_lived": ["Akron", "Nashville", "New York", "San Francisco"], "pet": null, "siblings": [{"name": "Scott", "age": 34, "hobbies": ["guitars", "soccer"]}, {"name": "Katie", "age": 42, "hobbies": ["diving", "art"]}]}'

In [ ]:
# json을 python 객체로 변환한 후, 데이터프레임으로 변환
# 변환된 python 객체는 딕셔너리 형태로 저장됨
siblings = pd.DataFrame(result["siblings"], columns=["name", "age"])
siblings

    name  age
0  Scott   34
1  Katie   42

In [79]:
!cat examples/example.json

[{"a": 1, "b": 2, "c": 3},
 {"a": 4, "b": 5, "c": 6},
 {"a": 7, "b": 8, "c": 9}]

In [ ]:
# pd.read_json : JSON 데이터를 데이터프레임으로 자동 변환
# 각각의 object가 데이터프레임의 행이라 가정하고 변환
data = pd.read_json("examples/example.json")
data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [84]:
# 데이터프레임을 JSON 데이터로 변환
# 기본값 : orient="index"
data.to_json(sys.stdout)

{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}

In [85]:
# orient 인자를 사용하여 변환된 JSON 데이터의 형식을 지정
# orient="records" : 각각의 object가 데이터프레임의 행이라 가정하고 변환
data.to_json(sys.stdout, orient="records")

[{"a":1,"b":2,"c":3},{"a":4,"b":5,"c":6},{"a":7,"b":8,"c":9}]

### 1.6. XML and HTML: Web Scraping

#### 1.6.1. HTML

In [87]:
# html 파일의 테이블을 dataframe 으로 변환되도록 자동 분석
# html 코드에서 <table> 태그로 묶인 데이터를 모두 찾아서 데이터프레임으로 변환
tables = pd.read_html("examples/fdic_failed_bank_list.html")

# 찾아낸 테이블의 개수
print(len(tables))
print()

# 첫번째 테이블을 데이터프레임으로 변환
failures = tables[0]
failures.head()

1

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"

In [88]:
close_timestamps = pd.to_datetime(failures["Closing Date"])
close_timestamps.dt.year.value_counts()

Closing Date
2010    157
2009    140
2011     92
2012     51
2008     25
       ...
2004      4
2001      4
2007      3
2003      3
2000      2
Name: count, Length: 15, dtype: int64

#### 1.6.2. Parsing XML with lxml.objectify

``` xml
<INDICATOR>
  <INDICATOR_SEQ>373889</INDICATOR_SEQ>
  <PARENT_SEQ></PARENT_SEQ>
  <AGENCY_NAME>Metro-North Railroad</AGENCY_NAME>
  <INDICATOR_NAME>Escalator Availability</INDICATOR_NAME>
  <DESCRIPTION>Percent of the time that escalators are operational
  systemwide. The availability rate is based on physical observations performed
  the morning of regular business days only. This is a new indicator the agency
  began reporting in 2009.</DESCRIPTION>
  <PERIOD_YEAR>2011</PERIOD_YEAR>
  <PERIOD_MONTH>12</PERIOD_MONTH>
  <CATEGORY>Service Indicators</CATEGORY>
  <FREQUENCY>M</FREQUENCY>
  <DESIRED_CHANGE>U</DESIRED_CHANGE>
  <INDICATOR_UNIT>%</INDICATOR_UNIT>
  <DECIMAL_PLACES>1</DECIMAL_PLACES>
  <YTD_TARGET>97.00</YTD_TARGET>
  <YTD_ACTUAL></YTD_ACTUAL>
  <MONTHLY_TARGET>97.00</MONTHLY_TARGET>
  <MONTHLY_ACTUAL></MONTHLY_ACTUAL>
</INDICATOR>  
```

In [90]:
# xml : 메타데이터가 포함된 중첩 데이터를 지원하는 구조화된 데이터 형식
# html과 xml은 구조적으로 유사하지만, xml은 데이터 형식을 명확하게 정의하고 데이터 유효성 검사를 수행할 수 있음
# 따라서 데이터 형식이 명확하지 않은 경우, xml을 사용하는 것이 좋음
from lxml import objectify

path = "datasets/mta_perf/Performance_MNR.xml"
with open(path) as f:
    parsed = objectify.parse(f) # 파일을 파싱하여 객체로 변환
root = parsed.getroot() # 파싱된 객체의 루트 노드를 반환 - 루트 노드 : 문서의 최상위 노드

In [ ]:
data = []

skip_fields = ["PARENT_SEQ", "INDICATOR_SEQ",
               "DESIRED_CHANGE", "DECIMAL_PLACES"]

for elt in root.INDICATOR: # <INDICATOR> 태그로 묶인 데이터를 반복, generator 생성
    el_data = {}
    for child in elt.getchildren(): # <INDICATOR> 태그의 자식 노드를 반복
        if child.tag in skip_fields: # 무시할 필드인 경우, 건너뜀
            continue
        el_data[child.tag] = child.pyval # 자식 노드의 태그와 값을 딕셔너리로 저장
    data.append(el_data)

In [92]:
perf = pd.DataFrame(data)
perf.head()

,AGENCY_NAME,INDICATOR_NAME,DESCRIPTION,PERIOD_YEAR,PERIOD_MONTH,CATEGORY,FREQUENCY,INDICATOR_UNIT,YTD_TARGET,YTD_ACTUAL,MONTHLY_TARGET,MONTHLY_ACTUAL
0,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at their destinations within 5 m...,2008,1,Service Indicators,M,%,95.0,96.9,95.0,96.9
1,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at their destinations within 5 m...,2008,2,Service Indicators,M,%,95.0,96.0,95.0,95.0
2,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at their destinations within 5 m...,2008,3,Service Indicators,M,%,95.0,96.3,95.0,96.9
3,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at their destinations within 5 m...,2008,4,Service Indicators,M,%,95.0,96.8,95.0,98.3
4,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at their destinations within 5 m...,2008,5,Service Indicators,M,%,95.0,96.6,95.0,95.8

In [93]:
# pandas.read_xml을 사용하는 경우, 위 프로세스를 원라인으로 처리
perf2 = pd.read_xml(path)
perf2.head()

,INDICATOR_SEQ,PARENT_SEQ,AGENCY_NAME,INDICATOR_NAME,DESCRIPTION,PERIOD_YEAR,PERIOD_MONTH,CATEGORY,FREQUENCY,DESIRED_CHANGE,INDICATOR_UNIT,DECIMAL_PLACES,YTD_TARGET,YTD_ACTUAL,MONTHLY_TARGET,MONTHLY_ACTUAL
0,28445,NaN,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at their destinations within 5 m...,2008,1,Service Indicators,M,U,%,1,95.00,96.90,95.00,96.90
1,28445,NaN,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at their destinations within 5 m...,2008,2,Service Indicators,M,U,%,1,95.00,96.00,95.00,95.00
2,28445,NaN,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at their destinations within 5 m...,2008,3,Service Indicators,M,U,%,1,95.00,96.30,95.00,96.90
3,28445,NaN,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at their destinations within 5 m...,2008,4,Service Indicators,M,U,%,1,95.00,96.80,95.00,98.30
4,28445,NaN,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at their destinations within 5 m...,2008,5,Service Indicators,M,U,%,1,95.00,96.60,95.00,95.80

## 2. Binary Data Formats

In [47]:
frame = pd.read_csv("examples/ex1.csv")
frame
frame.to_pickle("examples/frame_pickle")

In [48]:
pd.read_pickle("examples/frame_pickle")

In [49]:
!rm examples/frame_pickle

In [50]:
fec = pd.read_parquet('datasets/fec/fec.parquet')

In [51]:
xlsx = pd.ExcelFile("examples/ex1.xlsx")

In [52]:
xlsx.sheet_names

In [53]:
xlsx.parse(sheet_name="Sheet1")

In [54]:
xlsx.parse(sheet_name="Sheet1", index_col=0)

In [55]:
frame = pd.read_excel("examples/ex1.xlsx", sheet_name="Sheet1")
frame

In [56]:
writer = pd.ExcelWriter("examples/ex2.xlsx")
frame.to_excel(writer, "Sheet1")
writer.close()

In [57]:
frame.to_excel("examples/ex2.xlsx")

In [58]:
!rm examples/ex2.xlsx

In [59]:
!rm -f examples/mydata.h5

In [60]:
frame = pd.DataFrame({"a": np.random.standard_normal(100)})
store = pd.HDFStore("examples/mydata.h5")
store["obj1"] = frame
store["obj1_col"] = frame["a"]
store

In [61]:
store["obj1"]

In [62]:
store.put("obj2", frame, format="table")
store.select("obj2", where=["index >= 10 and index <= 15"])
store.close()

In [63]:
frame.to_hdf("examples/mydata.h5", "obj3", format="table")
pd.read_hdf("examples/mydata.h5", "obj3", where=["index < 5"])

In [64]:
import os
os.remove("examples/mydata.h5")

In [65]:
import requests
url = "https://api.github.com/repos/pandas-dev/pandas/issues"
resp = requests.get(url)
resp.raise_for_status()
resp

In [66]:
data = resp.json()
data[0]["title"]

In [67]:
issues = pd.DataFrame(data, columns=["number", "title",
                                     "labels", "state"])
issues

In [68]:
import sqlite3

query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20),
 c REAL,        d INTEGER
);"""

con = sqlite3.connect("mydata.sqlite")
con.execute(query)
con.commit()

In [69]:
data = [("Atlanta", "Georgia", 1.25, 6),
        ("Tallahassee", "Florida", 2.6, 3),
        ("Sacramento", "California", 1.7, 5)]
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"

con.executemany(stmt, data)
con.commit()

In [70]:
cursor = con.execute("SELECT * FROM test")
rows = cursor.fetchall()
rows

In [71]:
cursor.description
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

In [72]:
import sqlalchemy as sqla
db = sqla.create_engine("sqlite:///mydata.sqlite")
pd.read_sql("SELECT * FROM test", db)

In [73]:
!rm mydata.sqlite